.header {
  display: flex;
  justify-content: space-between;
}
.antdesign {
  font-weight: bold;
}
.body {
  width: 100%;
  text-align: center;
  font-size: 100px;
  font-weight: bolder;
}
.backimg {
  background-image: url("https://img.freepik.com/free-photo/hand-painted-watercolor-background-with-sky-clouds-shape_24972-1095.jpg");
  background-size: 100%;
}
